In [2]:
import random

In [3]:
#점수 = {"국어":[0] * 10}
#점수 = {"국어":list(map(lambda x: random.randint(0,100), range(10)))}
점수 = {"국어":[random.randint(0,100) for i in range(10)]}

In [4]:
반_점수 = {"1반":점수, "2반":점수, "3반":점수, "4반":점수, "5반":점수}

In [5]:
print(반_점수)
for 반 in 반_점수:
    print(반)
    반_점수[반]

{'1반': {'국어': [38, 18, 29, 6, 61, 31, 11, 22, 98, 93]}, '2반': {'국어': [38, 18, 29, 6, 61, 31, 11, 22, 98, 93]}, '3반': {'국어': [38, 18, 29, 6, 61, 31, 11, 22, 98, 93]}, '4반': {'국어': [38, 18, 29, 6, 61, 31, 11, 22, 98, 93]}, '5반': {'국어': [38, 18, 29, 6, 61, 31, 11, 22, 98, 93]}}
1반
2반
3반
4반
5반

In [6]:
print(반_점수["1반"]["국어"])
print(반_점수["2반"]["국어"])

[38, 18, 29, 6, 61, 31, 11, 22, 98, 93]
[38, 18, 29, 6, 61, 31, 11, 22, 98, 93]

In [7]:
학년_수 = 6
학년_목록 = [str(i+1)+"학년" for i in range(학년_수)]
학년별_반_수 = [random.randint(3, 10) for i in range(학년_수)]
학년별_반_학생수 =[[random.randint(10, 50) for j in range(학년별_반_수[i])] for i in range(학년_수)]
과목명 = ["국어", "수학", "영어"]

In [8]:
학년_목록

['1학년', '2학년', '3학년', '4학년', '5학년', '6학년']

In [ ]:
학년별_반_수

[4, 5, 9, 4, 6, 5]

In [ ]:
학년별_반_학생수

[[45, 15, 17, 45],
 [38, 49, 10, 44, 13],
 [21, 15, 42, 26, 41, 38, 23, 36, 21],
 [20, 15, 41, 42],
 [22, 14, 18, 40, 12, 46],
 [13, 18, 25, 25, 12]]

In [ ]:
성적데이터 = {}
for 학년_인덱스, 학년 in enumerate(학년_목록):
    성적데이터[학년] = {}

In [ ]:
성적데이터

{'1학년': {}, '2학년': {}, '3학년': {}, '4학년': {}, '5학년': {}, '6학년': {}}

In [ ]:
성적데이터 = {}
for 학년_인덱스, 학년 in enumerate(학년_목록):
    반수 = 학년별_반_수[학년_인덱스]
    성적데이터[학년] = {}
    for 반 in range(반수):
        성적데이터[학년][str(반+1)+"반"] = {}

In [ ]:
성적데이터

{'1학년': {'1반': {}, '2반': {}, '3반': {}, '4반': {}},
 '2학년': {'1반': {}, '2반': {}, '3반': {}, '4반': {}, '5반': {}},
 '3학년': {'1반': {},
  '2반': {},
  '3반': {},
  '4반': {},
  '5반': {},
  '6반': {},
  '7반': {},
  '8반': {},
  '9반': {}},
 '4학년': {'1반': {}, '2반': {}, '3반': {}, '4반': {}},
 '5학년': {'1반': {}, '2반': {}, '3반': {}, '4반': {}, '5반': {}, '6반': {}},
 '6학년': {'1반': {}, '2반': {}, '3반': {}, '4반': {}, '5반': {}}}

In [ ]:
성적데이터 = {}
for 학년_인덱스, 학년 in enumerate(학년_목록):
    반수 = 학년별_반_수[학년_인덱스]
    성적데이터[학년] = {}
    for 반 in range(반수):
        반명 = str(반+1)+"반"
        성적데이터[학년][반명] = {}
        #학생수 = 학년별_반_학생수[학년_인덱스][반]
        학생수 = 3
        for 과목 in 과목명:
            성적데이터[학년][반명][과목] = [random.randint(0,100) for i in range(학생수)]

In [ ]:
성적데이터

{'1학년': {'1반': {'국어': [60, 30, 22], '수학': [68, 86, 72], '영어': [88, 1, 82]},
  '2반': {'국어': [77, 42, 75], '수학': [52, 95, 81], '영어': [54, 24, 53]},
  '3반': {'국어': [84, 56, 85], '수학': [21, 31, 65], '영어': [88, 78, 14]},
  '4반': {'국어': [89, 59, 8], '수학': [22, 37, 14], '영어': [11, 20, 40]}},
 '2학년': {'1반': {'국어': [22, 4, 63], '수학': [100, 40, 36], '영어': [34, 24, 68]},
  '2반': {'국어': [70, 28, 37], '수학': [11, 62, 58], '영어': [98, 77, 44]},
  '3반': {'국어': [1, 52, 33], '수학': [21, 94, 32], '영어': [74, 14, 19]},
  '4반': {'국어': [59, 4, 28], '수학': [24, 49, 6], '영어': [40, 10, 94]},
  '5반': {'국어': [96, 1, 96], '수학': [44, 23, 53], '영어': [63, 78, 58]},
  '6반': {'국어': [33, 36, 61], '수학': [6, 63, 77], '영어': [55, 9, 76]},
  '7반': {'국어': [13, 6, 62], '수학': [25, 33, 55], '영어': [11, 29, 5]},
  '8반': {'국어': [51, 79, 1], '수학': [36, 95, 72], '영어': [85, 33, 17]},
  '9반': {'국어': [24, 70, 1], '수학': [100, 13, 20], '영어': [86, 27, 80]}},
 '3학년': {'1반': {'국어': [32, 6, 0], '수학': [79, 38, 48], '영어': [76, 21, 79]},
  '2반': {'국어': [99, 98, 4], '수학': [80, 39, 60], '영어': [56, 57, 74]},
  '3반': {'국어': [4, 79, 31], '수학': [13, 43, 30], '영어': [63, 59, 32]},
  '4반': {'국어': [63, 1, 8], '수학': [2, 34, 99], '영어': [58, 45, 36]},
  '5반': {'국어': [76, 29, 13], '수학': [39, 64, 5], '영어': [13, 68, 34]}},
 '4학년': {'1반': {'국어': [18, 49, 53], '수학': [82, 18, 21], '영어': [61, 99, 26]},
  '2반': {'국어': [47, 4, 6], '수학': [97, 62, 57], '영어': [56, 14, 88]},
  '3반': {'국어': [51, 48, 32], '수학': [63, 29, 67], '영어': [93, 34, 95]},
  '4반': {'국어': [13, 30, 6], '수학': [64, 100, 63], '영어': [64, 74, 67]},
  '5반': {'국어': [11, 56, 52], '수학': [91, 4, 19], '영어': [98, 87, 69]},
  '6반': {'국어': [36, 39, 30], '수학': [15, 36, 74], '영어': [69, 60, 91]},
  '7반': {'국어': [60, 23, 36], '수학': [49, 37, 1], '영어': [64, 59, 70]},
  '8반': {'국어': [55, 86, 35], '수학': [57, 69, 20], '영어': [25, 49, 59]},
  '9반': {'국어': [63, 100, 48], '수학': [93, 32, 23], '영어': [57, 29, 12]}},
 '5학년': {'1반': {'국어': [33, 15, 90], '수학': [79, 68, 98], '영어': [46, 22, 23]},
  '2반': {'국어': [90, 66, 15], '수학': [89, 75, 97], '영어': [76, 97, 23]},
  '3반': {'국어': [68, 8, 67], '수학': [5, 42, 97], '영어': [64, 26, 27]},
  '4반': {'국어': [11, 84, 49], '수학': [61, 42, 95], '영어': [35, 86, 58]},
  '5반': {'국어': [98, 98, 64], '수학': [55, 88, 100], '영어': [61, 52, 96]},
  '6반': {'국어': [46, 8, 94], '수학': [31, 29, 82], '영어': [48, 55, 60]}},
 '6학년': {'1반': {'국어': [6, 30, 66], '수학': [64, 100, 98], '영어': [77, 44, 14]},
  '2반': {'국어': [95, 89, 37], '수학': [4, 3, 56], '영어': [39, 96, 63]},
  '3반': {'국어': [77, 33, 14], '수학': [63, 84, 38], '영어': [38, 48, 78]},
  '4반': {'국어': [90, 64, 16], '수학': [73, 75, 53], '영어': [58, 88, 89]},
  '5반': {'국어': [35, 2, 50], '수학': [2, 10, 88], '영어': [59, 28, 45]}}}

In [ ]:
성적데이터['1학년']['1반']['국어']

[60, 30, 22]

In [ ]:
def 학년_과목_평균(성적데이터, 학년, 과목):
    학년데이터 = 성적데이터[학년]
    과목_누적합 = 0
    과목_점수_개수 = 0
    for 반 in range(len(학년데이터)):
        반명 = str(반+1)+"반"
        과목_누적합 = 과목_누적합 + sum(학년데이터[반명][과목])
        과목_점수_개수 = 과목_점수_개수 + len(학년데이터[반명][과목])

    return 과목_누적합 / 과목_점수_개수

In [ ]:
학년_과목_평균(성적데이터, '1학년', '국어')

57.25

In [ ]:
def 학년_반_과목별_평균(성적데이터, 학년, 반명):
    과목명_모음 = 성적데이터[학년][반명].keys()
    #print(과목명_모음)
    과목별_평균 = {}
    for 과목 in 과목명_모음:
        과목별_평균[과목] = 학년_과목_평균(성적데이터, 학년, 과목)
    return 과목별_평균

In [ ]:
학년_반_과목별_평균(성적데이터, '1학년', '1반')

dict_keys(['국어', '수학', '영어'])

{'국어': 57.25, '수학': 53.666666666666664, '영어': 46.083333333333336}

In [ ]:
def 학년_과목별_최고점수(성적데이터, 학년):
    반명_모음 = 성적데이터[학년].keys()
    과목명_모음 = 성적데이터[학년][list(반명_모음)[0]].keys()
    과목별_최고점수 = {과목:0 for 과목 in 과목명_모음}
    for 반명 in 반명_모음:
        반_성적점수 = 성적데이터[학년][반명]
        for 과목 in 과목명_모음:
            반_최고점수 = max(성적데이터[학년][반명][과목])
            if 과목별_최고점수[과목] < 반_최고점수:
                과목별_최고점수[과목] = 반_최고점수

    return 과목별_최고점수

In [ ]:
학년_과목별_최고점수(성적데이터, '1학년')

{'국어': 89, '수학': 95, '영어': 88}

In [ ]:
def 학년_반_학생별_평균점수(성적데이터, 학년, 반):
    pass

In [ ]:
def 학년_석차_평균점수기준(성적데이터, 학년):
    pass